<p>Welcome!</p>
<div class = "subtitle">
  Select a Category
</div>
<div>
  <select [(ngModel)]="selectedCategoryId" id="category">
    <option *ngFor="let category of triviaCategories" [value]="category.id">{{category.name}}</option>
  </select>
</div>
<div class = "subtitle">
  Select a Difficulty
</div>
<div>
  <select [(ngModel)]="selectedDifficulty" id="difficulty">
    <option *ngFor="let difficulty of difficulties" [value]="difficulty">{{difficulty}}</option>
  </select>
</div>
<div>
  <button (click)="onStart()" id="start">Start!</button>
</div>