<div>Q: {{question.question}}</div>
<button (click)="chooseAnswer(question.correct_answer)">A) {{question.correct_answer}}</button>
<button (click)="chooseAnswer(question.incorrect_answers[0])">B) {{question.incorrect_answers[0]}}</button>
<button (click)="chooseAnswer(question.incorrect_answers[1])">C) {{question.incorrect_answers[1]}}</button>
<button (click)="chooseAnswer(question.incorrect_answers[2])">D) {{question.incorrect_answers[2]}}</button>

<div *ngIf="chosenAnswer">My guess: "{{chosenAnswer}}"</div>

<div>
  <button (click)="onSubmit()" [disabled]="!chosenAnswer">Submit</button>
</div>
